<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<div align="center">
    <h1>Library</h1>
    <a href="/new">Create New Book</a>
    <br/><br/>
    <form method="post" action="filter">
    <input type="booktitle" name="search" placeholder="Enter text to Find">
    <button>Find</button>

    </form>
    <br/>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>ID</th>
        <th>Book title</th>
        <th>Author</th>
        <th>Year Create</th>
        <th>Discipline</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${listBook}">
        <td th:text="${book.id}">id</td>
        <td th:text="${book.booktitle}">Book title</td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.yearcreate}">Year Create</td>
        <td th:text="${book.discipline}">Discipline</td>
        <td>
            <a th:href="@{'/edit/' + ${book.id}}">Edit</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete/' + ${book.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>