<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Book</title>
</head>
<body>
<div align="center">
    <h1>Create new Book</h1>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${book}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Book title</td>
                <td><input type="text" th:field="*{name}" ></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>